---
permalink: /project-types/
layout: layouts/home.njk
---
<h1>Project Types</h1>

{% for projectType in collections.projectTypesList %}
  {% set projectTypeUrl %}/project-types/{{ projectType }}/{% endset %}
  <a href="{{ projectTypeUrl | url }}" class="tag">{{ projectType }}</a>
{% endfor %}
